.logo {
  height: 80px;
  border-radius: 50%;
}

.bottom {
  // position: absolute;
  // bottom: 5vh;
  margin-top: 3rem;
  width: 90vw;
}

h1 {
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0;
}
