.daily_parking {
    background-color: whitesmoke;
    height: 100vh;
    position: relative;
}

ion-card {
    position: absolute;
    height: 93%;
    width: 92%;
}

.pay_button {
    position: absolute;
    bottom: 10px;
    width: 90%;
}