.seasonal_parking {
  background-color: whitesmoke;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

ion-card {
  position: absolute;
  height: 85%;
  width: 92%;
}

.pay_button {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
