<div class="trending">
  <h3 class="title ion-padding-start ion-padding-top">Trending</h3>
  <ion-slides
    style="height: 100%; overflow-y: scroll"
    spaceBetween="-50"
    pager="true"
    [options]="slideOpts"
  >
    <!-- Slide 1 -->
    <ion-slide>
      <ion-card style="background-color: #1da1f2">
        <ion-card-header>
          <small style="color: white"
            ><strong
              >KICOSCA Update: Volleyball men @NakuruCountyGov defeats
              @County19Nyeri by three sets to nil</strong
            >
          </small>
          <div>
            <small><strong>Nov 21, 2021</strong></small>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-card style="background-color: #3b5998">
        <ion-card-header>
          <small style="color: white"
            ><strong
              >KICOSCA Update: Volleyball men @NakuruCountyGov defeats
              @County19Nyeri by three sets to nil</strong
            >
          </small>
          <div>
            <small>Nov 21, 2021</small>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <!-- Slide 3 -->
    <ion-slide>
      <ion-card style="background-color: #f176ae">
        <ion-card-header>
          <small style="color: white"
            ><strong
              >KICOSCA Update: Volleyball men @NakuruCountyGov defeats
              @County19Nyeri by three sets to nil</strong
            >
          </small>
          <div>
            <small>Nov 21, 2021</small>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
