<ion-content class="ion-padding" *ngIf="!loading">
  <!-- <div class="ion-padding-bottom" style="margin-top: 5vh" (click)="back()">
    <mat-icon matSuffix>arrow_back_ios</mat-icon>
  </div> -->
  <div class="ion-margin-bottom" style="margin-top: 5vh">
    <h1>Oops! You forgot?</h1>
    <h2>What now?</h2>
    <h2 class="ion-padding-bottom">Let's recover it!</h2>
  </div>

  <div class="ion-padding-top ion-margin-top">
    <form
      action=""
      [formGroup]="forgotPasswordForm"
      (submit)="forgotPasswordForm.valid && onForgotPassword()"
    >
      <!-- ID Number-->
      <mat-form-field
        appearance="outline"
        style="width: 100%"
        floatLabel="always"
        class="ion-padding-bottom"
      >
        <mat-label>ID Number</mat-label>
        <input
          matInput
          type="number"
          formControlName="idNumber"
          placeholder="12345678"
        />
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>

      <div class="bottom">
        <ion-button
          type="submit"
          [disabled]="forgotPasswordForm.invalid"
          fill="solid"
          expand="block"
        >
          Submit </ion-button
        ><br />
      </div>
    </form>
  </div>
</ion-content>

<ion-content *ngIf="loading">
  <ion-row class="ion-justify-content-center">
    <ion-item lines="none">
      <mat-spinner style="margin-top: 40vh"></mat-spinner>
    </ion-item>
  </ion-row>
</ion-content>
