.example-header-image {
  background-image: url("../../../../assets/images/bg.jpeg");
  background-size: cover;
}

.title {
  margin-bottom: 0 !important;
}

ion-card {
  margin: 0 !important;
}

ion-grid {
  padding: 0 !important;
}
