<div class="searchBar"></div>
<div class="transbox">
  <ion-grid class="ion-no-padding" style="margin-top: 2rem">
    <ion-row>
      <ion-col>
        <!-- Have nothing -->
      </ion-col>
      <ion-col size="2">
        <ion-icon
          style="color: white"
          class="ion-padding"
          size="large"
          name="notifications-circle-outline"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2 class="description" style="margin-bottom: 0">Nakuru County Government</h2>
  <h5 class="description">
    Instant digital access to over 30 county government services, all in one
    place.
  </h5>
</div>

<div class="services">
  <!-- <app-frequently-used></app-frequently-used> -->

  <!-- <app-trending></app-trending> -->

  <app-services></app-services>
</div>
